// Footer
// Jason Huang 
// Footer file for all pages in My Website

link(rel='stylesheet', href='/Scripts/lib/jade-bootstrap/css/navbar.css')

footer
.navbar-wrapper
		.container
			nav.navbar.navbar-default.navbar-static-bottom.navbar-inverse-bg-primary(style="background-color: #e3f2fd")
				.container
					.navbar-header
						button(type="button" ,class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar" ,aria-expanded="false", aria-controls="navbar")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
							
					#navbar.navbar-collapse.collapse
						ul.nav.navbar-text
								a(href='/') Back to top
								h5| © 2017 Jason Huang 300818592 