.navbar-wrapper
		.container
			nav.navbar.navbar-inverse.navbar-static-top
				.container
					.navbar-header
						button(type="button" ,class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar" ,aria-expanded="false", aria-controls="navbar")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
							
						a(class="navbar-brand", href="/") Jason Huang
					#navbar.navbar-collapse.collapse
						ul.nav.navbar-nav
							li.active
								a(href="/") Home
							li
								a(href="/about") About
							li
								a(href="/contact") Contact
							li
								a(href="/project") Projects
							li
								a(href="/services") Services
							