extends layout

block content
  h1= title
  p Welcome to #{title}
  p The local time is #{date}

//CSS section
// <link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap/min/css">
// <link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap/min/theme.min.css">
// <link rel="stylesheet" href="/Scripts/lib/font-awesome/css/font-awesome.min.css">
// <link rel="stylesheet" href='Content/app.css' />

// JavaScript
// <script src= "/Scripts/lib/jquery/dist/jquery.min.js"></script>
// <script src= "/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
// <script src= "/Scripts/app.js></script>

  //div.conterin>div.row>div.col-md-offset-3.col-md-6
