doctype
html
  head
    title= title
    //CSS
    link(rel='stylesheet', href='/Content/content.app.css')
    link(rel='stylesheet', href='/Content/chunkfive-fontface.css')
    link(rel='stylesheet', href='/Scripts/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/Scripts/lib/bootstrap/dist/css/bootstrap-theme.min.css')
   
    //Scripts
    script (src = "Scripts/lib/jquery/dist/jquery.min.js")
    script (src = "Scripts/lib/bootstrap/dist/js/bootstrap.min.js")
    script (src = "Scripts/app.js")
  body
    header
      nav
        ul
          li 
            a(href="/") Home
          li 
            a(href="/about") About
          li
            a(href="/project") Projects
          li
            a(href="/services") Services
          li 
            a(href="/contact") Contact
    section#wrapper
        block content
        footer 
          section.css-table
            section.four-column
              section.cell
                p Mauris porttitor <br />felis eu leo aliquet<br /> ac rutrum odio aliquet
              section.cell
                p Mauris porttitor <br />felis eu leo aliquet<br /> ac rutrum odio aliquet
              section.cell
                p Mauris porttitor <br />felis eu leo aliquet<br /> ac rutrum odio aliquet
              section.cell
                p Mauris porttitor <br />felis eu leo aliquet<br /> ac rutrum odio aliquet