extends layout

block content
    h1 My Projects
    h2 Currently involved!

    h3 Single Web React and Redux 
    p

    h2 Past Projects

    h3 Hackathon - VR and Tablet Network Integration
    p 


