// About
// Jason Huang 
// About page in My Website, using bootstrap Carousel

extends ../../public/Scripts/lib/jade-bootstrap/_bootstrap.jade
//CSS
link(href="../public/Scripts/lib/jade-boostrap/css/carousel.css", rel="stylesheet")

block body
	include ../partials/header.jade
	section.css-table
		section.two-column
			section.cell
		// START THE FEATURETTES
		hr.featurette-divider
		.row.featurette
			.col-md-7
				h1 About Me
				h2.featurette-heading
					| My Name is:
					span.text-muted  Jason Huang
				p.lead
					| I am currently 25 years old. Born and raised in Canada. Nationality: Canadian, Ethnicity: Chinese. 
				p.lead 	
					|Current programming languages: C++, Java, Pug, React
			.col-md-5
				img.featurette-image.img-responsive.center-block(src='../Assets/images/badminton.jpg', alt='Jason', style="width:500px;height:500px")
		hr.featurette-divider
		.row.featurette
			.col-md-7.col-md-push-5
				h2.featurette-heading
					| Education 
					span.text-muted University + College
				p.lead
					| Currently in 5th Semester of Software Engineering- Interactive Gaming. I have a Bachelor of Science in Biology at Ryerson University.
			.col-md-5.col-md-pull-7
				img.featurette-image.img-responsive.center-block(src='../Assets/images/Sunflower (Mature).JPG', alt='Biology Lab', style="width:700px;height:500px" )
		hr.featurette-divider
		.row.featurette
			.col-md-7
				h2.featurette-heading
					| My Hobbies:
					span.text-muted  Games!! PCMR!!
				p.lead
					| I play all kinds of games and they vary from mobile to PC. The game I play the most is on mobile called Soccer Spirits. Other games I play are League Of Legends, Diablo 3, Overwatch, Undertale.
			.col-md-5
				img.featurette-image.img-responsive.center-block(src="Assets/images/ss_home.jpg" alt="Soccer Spirits" style="width:508px;height:285px;")
			.col-md-7.col-md-push-5
				h2.featurette-heading
					span.text-muted Outdoors
				p.lead
					| Other than staying at home all day playing games, I love to go camping. I been to Algonquin Park (Lake of Two Rivers, Pog Lake), Emily Provincial Park, and Earl Rowe
			.col-md-5.col-md-pull-7
				img.featurette-image.img-responsive.center-block(src="Assets/images/Camp-Fire.jpg" alt="Camp-Fire" style="width:500px;height:500px;")
		hr.featurette-divider
		// /END THE FEATURETTES
		include ../partials/footer.jade
