extends ../../public/Scripts/lib/jade-bootstrap/_bootstrap.jade

link(href="../public/Scripts/lib/jade-boostrap/css/carousel.css", rel="stylesheet")

block body
    include ../partials/header.jade
    h1 My Email 
    p jason.huang11@hotmail.com
    h1 My Phone Number
    p 123-156-1555