extends ../../public/Scripts/lib/jade-bootstrap/_bootstrap.jade

link(href="../public/Scripts/lib/jade-boostrap/css/carousel.css", rel="stylesheet")

block body
    include ../partials/header.jade
    h1 My Projects
    h2 Currently involved!

    h3 Single Web React and Redux 
    p

    h2 Past Projects

    h3 Hackathon - VR and Tablet Network Integration
    p 


